.main-editor-page-header{
    width: 50%;
    margin: 0 auto;
    font-size: 72px;
    font-weight: bolder;
}

.main-editor{
    width: 50%;
    margin: 50px auto;
}

.main-editor-finish-button{
    float: right;
    margin-top: 60px;
    width: 100px;
}

.main-editor-date{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-editor-to-do-list{
    margin: 100px auto;
    width: 50%;
}

.main-editor-spinner{
    position: absolute;
    left: 50%;
    top: 50%;
}

.read-screen-header-home-link{
    position: absolute;
    right: 25%;
    top: 50px;
    width: 100px;
}