.to-do-list-box-header{
    font-weight: bolder;
    font-size: 24px;
}

.main-editor-to-do-list-time-title{
    margin-top: 5px;
}

.main-editor-to-do-list-date-time-picker{
    font-size: 15px;
    font-weight: normal;
    width: 100%;
}

.to-do-list-delete{
    height: 20px;
    width: 5px;
    float: right;
}

.to-do-list-delete-text{
    position: absolute;
    right: 25px;
    top: 11px;
}