.feed-item{
    margin-bottom: 30px;
}

.feed-item-digest{
    margin-left:24px;
    font-size: 20px;
}

.feed-item-score{
    color: red;
    font-size: 24px;
    float: right;
}

.feed-item-user-img-and-emotion{
    position: relative;
}

.feed-item-user-img-and-emotion-img{
    position: absolute;
    left:0;
    top:0;
}

.feed-item-user-img-and-emotion-emotion{
    position: absolute;
    left:48px;
    top:48px;
    font-size:24px;
}

.feed-item-body{
    padding-left: 90px;
}

.feed-item-user-name-and-date{
    font-size: 24px;
    font-weight: bolder;
}