.home-screen-header{
    width: 70%;
    font-size: 72px;
    font-weight: bolder;
    margin: 0 auto;
}

.home-screen-header-chart-link{
    float: right;
    display: inline;
    margin-top: 60px;
    margin-right: 0px;
    width: 100px;
}

.home-screen-user-img-and-write-button{
    position: relative;
}

.home-screen-user-img{
    position: absolute;
}

.home-screen-write-button-1{
    width: 225px;
    margin: 30px auto;
    position: absolute;
    top: 230px;
}

.home-screen-write-button-2{
    width: 225px;
    margin: 30px auto;
    position: absolute;
    top: 280px;
}

.home-screen-to-do-list{
    position: absolute;
    top: 380px;
    width: 80%;
    margin: 0 auto;
}

.home-screen-content{
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

.home-feed-flow{

}

.home-page-spinner{
    position: absolute;
    left: 50%;
    top: 50%;
}
